<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo App</title>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/dialog-style.css">
    <link rel="stylesheet" href="/css/list-style.css">

    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body ng-cloak>

<manager-dialog width='600px' height='522px'>
</manager-dialog>

<users-dialog width='600px' height='522px'>
</users-dialog>

<% if(externalNotification) { %>
<external-notification
        type="<%= externalNotification.type %>"
        message="<%= externalNotification.message %>">
</external-notification>
<% } %>

<div todo-application
     default-workspace-id="<%= defaultWorkspaceId %>"
     workspace-id="<%= workspaceId %>"
     user-id="<%= userId %>"
     user-name="<%= displayName %>"
     authorization-provider="<%= authorizationProvider %>">
</div>

<script type="text/javascript" src="/libs/js/jquery.js"></script>
<script type="text/javascript" src="/libs/js/angular.js"></script>
<script type="text/javascript" src="/libs/js/underscore.js"></script>
<script type="text/javascript" src="/libs/js/notify.js"></script>
<script type="text/javascript" src="/libs/js/date-format.js"></script>

<script type="text/javascript" src="/client/modules/app/app-module.js"></script>

<% if(externalNotification) { %>
<script type="text/javascript" src="/client/modules/app/directives/external-notification.js"></script>
<% } %>
<script type="text/javascript" src="/client/modules/app/directives/list-item.js"></script>
<script type="text/javascript" src="/client/modules/app/directives/manager-dialog.js"></script>
<script type="text/javascript" src="/client/modules/app/directives/todo-app.js"></script>
<script type="text/javascript" src="/client/modules/app/directives/todo-blur.js"></script>
<script type="text/javascript" src="/client/modules/app/directives/todo-focus.js"></script>
<script type="text/javascript" src="/client/modules/app/directives/users-dialog.js"></script>

<script type="text/javascript" src="/client/modules/app/filters/date-filter.js"></script>

<script type="text/javascript" src="/client/modules/providers/providers-module.js"></script>

<script type="text/javascript" src="/client/modules/providers/factories/api-provider.js"></script>
<script type="text/javascript" src="/client/modules/providers/factories/notification-provider.js"></script>
<script type="text/javascript" src="/client/modules/providers/factories/socket-provider.js"></script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        angular.bootstrap(document, ['app']);
    });
</script>

</body>
</html>
